# Temario
- Listas
- Tuplas
- Sets
- Diccionarios

## Estructuras de Datos
Las estructuras de datos son formas de organizar informacion para trabajar con ella de manera eficiente.

- Listas -> ordenadas, modificadas, permiten duplicados
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no ordenados, sin duplicados
- Diccionarios -> pares clave:valor

Nota:

- Pilas (FILO -> First in, Last out)
- Colas (FIFO -> First in, First out)
- Listas enlazadas (o doblemente enlazadas)

##Listas
Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos

In [22]:
lista_de_compras = ["manzanas","pan","leche","huevos","mantequilla","queso","jamon"]
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']

In [23]:
print(lista_de_compras[6]) #Acceder a un elemento de la lista ,empeza en 0

jamon

In [24]:
# Agregar un elemento a la lista con .append()
lista_de_compras.append("sopa")
lista_de_compras

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [27]:
# Agregar un elemento en una posicion especifica
lista_de_compras.insert(1,"platano")
lista_de_compras

['manzanas',
 'platano',
 'platano',
 'pan',
 'leche',
 'huevos',
 'mantequilla',
 'queso',
 'jamon',
 'sopa']

In [28]:
print(lista_de_compras) # ELemento repetido

['manzanas', 'platano', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [29]:
# Para eliminar un elemento de una lista existe el remove y el pop , el primero que encuentre
lista_de_compras.remove("platano")
print(lista_de_compras)

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [30]:
lista_de_compras.pop() # Sin nada dentro del parantesis borra el ultimo elemento
lista_de_compras.pop(7) # o puedes agarrarla posicion que quieras (pero iniciando desde 0)
# Nota: te retorna el numero eliminado

'jamon'

In [31]:
# Se puede recorrer el arreglo por medio de un for
for elementos in lista_de_compras:
  print(elementos)

manzanas
platano
pan
leche
huevos
mantequilla
queso

In [32]:
# len() saca el tamaño de la lista
print(len(lista_de_compras))
for i in range(len(lista_de_compras)):
  print(f"{i + 1} - {lista_de_compras[i]}")

7
1 - manzanas
2 - platano
3 - pan
4 - leche
5 - huevos
6 - mantequilla
7 - queso

In [33]:
promedios = [35.6,97.5,33.6,97.5,58.2,100]
print(promedios)
promedios.sort() #sort() sirve para ordenar la lista de manera ascendete
print(promedios)
# ordenar una lista de amnera descendente
promedios.sort(reverse = True)
print(promedios)

[35.6, 97.5, 33.6, 97.5, 58.2, 100]
[33.6, 35.6, 58.2, 97.5, 97.5, 100]
[100, 97.5, 97.5, 58.2, 35.6, 33.6]

In [34]:
#Accedder al ultimo elemento de una lista
print(promedios[-1])

33.6

In [35]:
# Encontrar el mayor y el menos de una lista
print(max(promedios))
print(min(promedios))

100
33.6

In [36]:
# Declaracion y uso de matrices
calificaciones = [[100,88,93],[99,56,72]]
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j = 1
  for cali_j in cali_i:
    print(f" Cali {j}: {cali_j}")
    j += 1
  j = 0
  i += 1

Alumno 1
 Cali 1: 100
 Cali 2: 88
 Cali 3: 93

Alumno 2
 Cali 1: 99
 Cali 2: 56
 Cali 3: 72

## Tuplas
Colecciones ordenadas pero inmutables.

In [42]:
# fechas de nacimientos de un grupo en una tupla
fechas = ("15/10/10","25/03/12","18/08/04","25/02/04")
print(type(fechas))
fechas

<class 'tuple'>

('15/10/10', '25/03/12', '18/08/04', '25/02/04')

In [38]:
# ES INMUTABLE no se puede modificar
fechas.append("10/06/03") #TE VA A MARCAR ERROR

AttributeError: 'tuple' object has no attribute 'append'

In [43]:
fecha_lista = list(fechas) # Aqui ya puedes usar los comandos basicos de una lista
print(type(fecha_lista))
fecha_lista

<class 'list'>

['15/10/10', '25/03/12', '18/08/04', '25/02/04']

## SETS
Los sets son colecciones SIN orden y que NO permiten elementos duplicados

In [48]:
nombre = {"Angel", "Eliud", "Diana", "Juan", "Juan"}
print(nombre)
print(type(nombre))

{'Angel', 'Diana', 'Juan', 'Eliud'}
<class 'set'>

In [47]:
distintos_datos = {"Angel", 1, "Diana", "Juan", 4.8}
distintos_datos

{1, 4.8, 'Angel', 'Diana', 'Juan'}

In [49]:
# Add agregar un nuevo dato
nombre.add("Leonardo")
nombre

{'Angel', 'Diana', 'Eliud', 'Juan', 'Leonardo'}

In [50]:
# Union muetra todo los datos
matutino = {20322,22183,123123,53234}
vespertino = {20322,111111,22222222,3333333}
# Union pero con .union()
total_matriculas = matutino.union(vespertino)
print(total_matriculas)
# Union pero con |
total_matriculas = matutino | vespertino
print(total_matriculas)

{20322, 22183, 111111, 22222222, 53234, 123123, 3333333}
{20322, 22183, 111111, 22222222, 53234, 123123, 3333333}

In [52]:
# Interseccion solo lo datos que coinciden
ca = {1234,121,646,12414,73434,124124,675234}
al = {1234,111,222,333,444}
#interseccion con .intersection()
ca_al = ca.intersection(al)
print(ca_al)
# interseccion usando &
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [54]:
# Diferencia
#Diferencia usando .difference
solo_calculo = ca.difference(al)
print(solo_calculo)
# Diferencia usando -
solo_calculo = ca - al
print(solo_calculo)

{675234, 646, 121, 73434, 124124, 12414}
{675234, 646, 121, 73434, 124124, 12414}

In [58]:
nombre = {"Angel", "Eliud", "Diana", "Juan", "Juan"}
#remove, pop
nombre.remove("Angel") #Puedes eliminar el elemento que tu deseas
print(nombre)
nombre.pop() # Elimina un elemento pero de manera  aleatoria
print(nombre)

{'Diana', 'Juan', 'Eliud'}
{'Juan', 'Eliud'}

In [60]:
# Eliminar todo el SET (el contenido la vacia)
nombre.clear()
nombre

set()

## Diccionarios
Los diccionarios son colecciones no ordenadas de pares clave:valor

In [61]:
alumno = {
    #clave, llave     valor
    "nombre": "Pablo ",
    "edad": 40,
    "carrera": "LA",
    "semestre": 7,
    "promedio": 78,
    "calificaciones": [100,94, 94,97,100]
}
print(type(alumno))
alumno

<class 'dict'>

{'nombre': 'Pablo ',
 'edad': 40,
 'carrera': 'LA',
 'semestre': 7,
 'promedio': 78,
 'calificaciones': [100, 94, 94, 97, 100]}

In [62]:
#Acceder a elemento del diccionario
print("El alumno ", alumno["nombre"], " esta estudiando ", alumno["carrera"])

El alumno  Pablo   esta estudiando  LA

In [63]:
# Agregar al diccionario
alumno["area preferida"] = "Ciencia de Datos"
alumno

{'nombre': 'Pablo ',
 'edad': 40,
 'carrera': 'LA',
 'semestre': 7,
 'promedio': 78,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Ciencia de Datos'}

In [64]:
for valor in alumno:
  print(alumno[valor])

Pablo
40
LA
7
78
[100, 94, 94, 97, 100]
Ciencia de Datos

In [65]:
for clave, valor in alumno.items():
  # devuelve una vista de todos los pares clave:valor del diccionario
  print(clave,": ", valor)

nombre :  Pablo
edad :  40
carrera :  LA
semestre :  7
promedio :  78
calificaciones :  [100, 94, 94, 97, 100]
area preferida :  Ciencia de Datos

In [66]:
# El metodo .clear() tambien usar aqui. solo el contenido
# Tenemos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Pablo

In [67]:
alumno_1 = alumno.items() # Trae todo los dato del diccionario
print(alumno_1)
print(type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

dict_items([('nombre', 'Pablo '), ('edad', 40), ('carrera', 'LA'), ('semestre', 7), ('promedio', 78), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de Datos')])
<class 'dict_items'>
[('nombre', 'Pablo '), ('edad', 40), ('carrera', 'LA'), ('semestre', 7), ('promedio', 78), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de Datos')]
<class 'list'>

In [68]:
# El metodo .values() sirve para obtener los values del diccionario no las claves, tambien se puede usar en la iteraccion
alumno_v = alumno.values()
print(type(alumno_v))
alumno_v

<class 'dict_values'>

dict_values(['Pablo ', 40, 'LA', 7, 78, [100, 94, 94, 97, 100], 'Ciencia de Datos'])

In [69]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")

if("dinero") in alumno:
  print("Alumno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [71]:
#.copy() puedes copiar todo el diccionario en una nueva variable
# Update -> Sirve para cambiar los values (valores) (.update())
alumno.update({"edad":35})
alumno

{'nombre': 'Pablo ',
 'edad': 35,
 'carrera': 'LA',
 'semestre': 6,
 'promedio': 78,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Ciencia de Datos'}

In [72]:
# Lista de productos
productos = ["manzana", "banana", "leche", "pan"]  # <-- LISTA

# Tupla de precios
precios = (10, 5, 20, 15)  # <-- TUPLA

# Diccionario de inventario: producto -> {"precio": x, "stock": y}
inventario = {productos[i]: {"precio": precios[i], "stock": 10} for i in range(len(productos))}
# <-- DICCIONARIO
# Clave: nombre del producto
# Valor: otro diccionario con "precio" y "stock"

# Set de productos en oferta
ofertas = {"manzana", "pan"}  # <-- SET

# Mostrar productos
for p in productos:
  msg = "OFERTA!!!" if p in ofertas else "Grandes precios!"
  info = inventario[p]
  print(f"{p.title()} - ${info['precio']} - Stock: {info['stock']} -> {msg}")

# Compra simple
compra = input("\n¿Qué producto quieres comprar? ").strip().lower()

if compra in inventario and inventario[compra]["stock"] > 0:
  inventario[compra]["stock"] -= 1
  print(f"Compraste 1 {compra}. Stock restante: {inventario[compra]['stock']}")
else:
  print("Producto no disponible.")

Manzana - $10 - Stock: 10 -> OFERTA!!!
Banana - $5 - Stock: 10 -> Grandes precios!
Leche - $20 - Stock: 10 -> Grandes precios!
Pan - $15 - Stock: 10 -> OFERTA!!!

¿Qué producto quieres comprar? Pan
Compraste 1 pan. Stock restante: 9