## Temario
- Tipos de datos
- Operacione Matematica
- Operaciones con String
- Operacion Logicas
- Operaciones Booleanas

In [20]:
#Tipos de datos
enteros = 5  # Son los numeros sin decimales
flotante = 4.3 # Son los numero que contengan decimal

In [21]:
# Caracteres / Strings
careacteres = "s"
cadena_caracteres = "nombre" # Una cadena de caracteres es un string

In [22]:
# Booleano  #Palabras reservadas tienen una tipo grafia ditinta
falso = False  # falso es 0
verdadero = True # verdadero es 1

In [23]:
# imprimir
print(enteros)
print(flotante)
print(careacteres)
print(cadena_caracteres)

5
4.3
s
nombre

## Ingresar datos

In [25]:
# Con la funcion input, el usuario puede ingresar cualquier tipo dde dato
# para guardarlo en una variable
nombre = input("Ingrese su nombre: ") # el input siempre te lo guaarda como un string
print(nombre)

Ingrese su nombre: isr
isr

In [ ]:
num = int(input("Ingrese un numero: "))
print(num + 1)

In [ ]:
# Operacione Matematicas
#4to nivel de importancia
# suma ordinaria
print(3 + 4)
numero1,numero2 = 12,25
print(numero1 + numero2)

#Resta Ordinaria
print(3 - 4)

#Declaracion de Variable
v1 = 3
v2 = 12
resultado = v1- v2
print(resultado)

In [ ]:
#3er Nivel de importancia
# Multiplicacion Ordinaria
M1, M2 = 2,3.14
print(M1 * M2) # 6.28

# DIvision Ordinaria
M1,M2,M3,M4,M5,M6 = 2,5,6,5,4,5
print(M1 / M2) # 0.4
print(M3 / M4) # 0
print(M5 / M6) # 1.

# Division de Piso
print(M1 // M2) # Lo redondea mass cercano asia el cero
print(M3 // M4)
print(M5 // M6)

In [ ]:
# Potencia
print(2 ** 3) # 8
P1,P2 = 7,2
print(P1 ** P2) # 49

## Operacion String

In [ ]:
HM = "Hola Mundo"
print(HM)
a,b = "ta","co"
print(a + b)  #Contatenar une las variables

In [ ]:
#Animal debe tener un nombre, debe gutar una fruta, debe tener una profesion
Animal = "Gato"
Nombre = "bolita"
Fruta = "Manzana"
Profesion ="Ingeniero"
print(f" Hola soy {Nombre} y soy un {Animal}, me gusta la {Fruta} y soy {Profesion}")

## Operacione Logica

In [ ]:
## >.<, <=,>=, and, or  (siempre retorna un booleano)
b1 = 3 > 5
b2 = 7 > 5
b3 =14>14
b4 =14>=14

In [ ]:
# sandwich completo
pan = True
queso = True
mayonesa = True
jamon = False
print(pan and queso and mayonesa and jamon)

In [ ]:
print(True * 20) #True vale 1
print(False * 10) #False vale 0